<div class="genSection">
	<h1>CODE GENERATOR</h1>
	<% if @code %>
		<div id="random-code"><%= @code.code %></div>
	<% end %>
	<%= button_to 'Generate new code', code_index_path, :class => "button", :method => :post %>
</div>

<div class="usedSection">
	<h2>Codes Used</h2>
	<div class="usedCodes">
		<% @codes.each do |x| %>
			<div class="usedCode"><%= x.code %></div>
		<% end %>
	</div>
</div>