// Place all the styles related to the Code controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: black;
}

h1 {
	font-size: 40px;
}

h2 {
	color:white;
}

#success {
	color: red;
	font-size: 14px;
	font-weight: bolder;
}

.genSection {
	display: table;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	padding-top: 30px;
	background-color: white;
}

.button {
	background-color: #bad433;
	border: 2px #bad433 solid;
	color: black;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
}

.button:hover {
	color: white;
	cursor: pointer;
}

#random-code {
	border: 1px black dotted;
	display: inline-block;
	margin-bottom: 25px;
	padding: 10px;
}

.usedSection {
	display: table;
	margin: 0 auto;
	text-align: center;
	height: 300px;
}

.usedCodes {
	height: 100%;
	width: 100%;
	border: solid 1px black;
	overflow-y: auto;
	background-color: white;
}

.usedCode {
	border-bottom: solid 1px black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
}