// CSS RESET

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// CUSTOM CSS STARTS HERE

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	background-color: black;
	font-family: 'Open Sans', sans-serif;
}

// GENERATE RANDOM CODE SECTION

.genSection {
	margin: 0 auto;
	width: 550px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: #fff 2px solid;
	background-color: #0a0a00;
	padding: 45px 0px;
	margin-top: 50px;
}

h1 {
	font-size: 45px;
	color: white;
	margin-bottom: 30px;
}

.gen-button {
	background-color: #bad433;
	border: 2px #bad433 solid;
	color: black;
	font-size: 16px;
	padding: 10px 0px;
	width: 300px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.gen-button:hover {
	color: white;
	cursor: pointer;
	-webkit-transition: all 300ms;
	transition: all 300ms ;
}

.copy {
	background-color: #bad433;
	color: #000000;
	border-radius: 0;
	border: none;
	float: right;
	padding-top: 15px;
	padding-bottom: 16px;
	width: 16%;
}

.copy:hover {
	color: #fff;
	cursor: pointer; 
	-webkit-transition: all 300ms;
	transition: all 300ms ;
}

#copied {
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}

#copied2 {
	color: #fff;
	text-align: center;
	margin-top: 5px;
}

#random-code {
	margin-bottom: 15px;
	width: 298px;
	font-weight: bolder;
	border: #bad433 2px solid;
	border-right: none;
}

#actual-code {
	display: inline-block;
	color: white;
	padding: 14px 10px;
	padding-left: 39%;
}


.gen-code-section {
  -webkit-animation: gen-code-animation 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: gen-code-animation 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
  position: relative;
    
}
@-webkit-keyframes gen-code-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
    position: absolute;   
  }
}
@keyframes gen-code-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;     
  }
}

// LIST OF CODES GENERATED

.usedSection {
	margin: 0 auto;
	width: 550px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 60px;
	color: black;
	font-weight: bolder;
	font-size: 1.1em;
}

.usedCode {
	display: flex;
	justify-content: center;
	background-color: #bad433;
	padding: 10px 0px;
	margin-top: 15px;
	width: 100%;
	cursor: pointer;
}

.usedCode:first-child {
	margin-top: 0px;
}

.usedCode:hover {
	color: white;
	background-color: black;
	padding: 9px 0px;
	border: 1px solid #bad433;
}

// STYLE FOR ADMIN PAGE

.addCode {
	display: table;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	color: #bad433;
}

.codeForm {
	width: 300px;
}

.enterCode {
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.submitCode {
	background-color: #bad433;
	border: 2px #bad433 solid;
	border-radius: 0;
	color: black;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

// CODE COUNTER

.code-count {
	font-size: 28px;
	color: #bad433;
	border: #fff 2px solid;
	// border-radius: 50%;
	padding: 15px;
	display: inline;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 30px;
	animation: pulse 1s infinite alternate;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
												supported by Chrome and Opera */
}

@keyframes pulse {
	from { box-shadow:0px 0px 0px 0px #000000; }
	to { box-shadow:0px 0px 20px 5px #bad433; }
}

// Flash Messages and Errors

div.field_with_errors {
	display: inline;
	// Stops extra spacing after form validation fail
}

#success {
	color: #bad433;
	font-size: 14px;
	font-weight: bolder;
	padding-bottom: 10px;
	text-align: center;
}

// MEDIA QUERIES

@media screen and (max-width: 830px) {
    .code-count {
        display: none;
    }

    .usedSection {
    	margin: 0 auto;
    	margin-top: 60px;
    	width: 90%;
    }

    .genSection {
    	margin: 0 auto;
    	margin-top: 150px;
    	margin-bottom: 300px;
    	width: 90%;
    }
}

@media screen and (max-width: 450px) {
	.code-count {
        display: none;
    }

    .usedSection {
    	margin: 0 auto;
    	margin-top: 60px;
    	width: 90%;
    }

    .genSection {
    	margin: 0 auto;
    	margin-top: 150px;
    	margin-bottom: 300px;
			width: 90%;
			text-align: center;
		}
		
		#actual-code {
			padding-left: 18%;
		}

		.copy {
			width: 20%;
		}
}

@media screen and (max-width: 340px) {
	.gen-button, #random-code {
		width: 200px;
	}
}