// Place all the styles related to the Code controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body {
	background-color: black;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 45px;
	color: white;
}

.code-count {
	font-size: 28px;
	color: #bad433;
	border: #fff 2px solid;
	border-radius: 50%;
	padding: 15px;
	display: inline;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 30px;
	animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from { box-shadow:0px 0px 0px 0px #000000; }
  to { box-shadow:0px 0px 20px 5px #bad433; }
}

#success {
	color: red;
	font-size: 14px;
	font-weight: bolder;
}

.genSection {
	display: table;
	margin: 0 auto;
	width: 550px;
	margin-top: 50px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: #0a0a00;
	border: #fff 2px solid; 
}

.button {
	background-color: #bad433;
	border: 2px #bad433 solid;
	color: black;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 300px;
}

.button:hover {
	color: white;
	cursor: pointer;
	-webkit-transition: all 250ms linear;
  	transition: all 250ms linear;
}

.copy {
	background-color: #bad433;
	color: #000000;
	border: none;
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 8px;
	padding-left: 10px;
}

.copy:hover {
  color: #fff;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  cursor: pointer; 
}

#copied {
	color: white;
	padding-bottom: 10px;
}

#random-code {
	display: inline-block;
	margin-bottom: 15px;
	width: 300px;
	font-weight: bolder;
	border: #bad433 2px solid;
}

#actual-code {
	display: inline-block;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
}

.usedSection {
	display: table;
	margin: 0 auto;
	text-align: center;
	width: 550px;
	margin-top: 60px;
	color: white;
	font-weight: bolder;
	font-size: 1.1em
}

.usedCode {
	border-top: solid 2px #bad433;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
}



.addCode {
	display: table;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	color: #bad433;
}

.codeForm {
	width: 300px;
}

.enterCode {
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.submitCode {
	background-color: #bad433;
	border: 2px #bad433 solid;
	color: black;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}




//Stops extra spacing after form validation fail
div.field_with_errors {
  display: inline;
}


@media screen and (max-width: 760px) {
    .code-count {
        display: none;
    }

    .usedSection {
    	margin: 0 auto;
    	margin-top: 60px;
    	width: 90%;
    }

    .genSection {
    	margin: 0 auto;
    	margin-top: 50px;
    	width: 90%;
    }
}

@media screen and (max-width: 400px) {
	.code-count {
        display: none;
    }

    .usedSection {
    	margin: 0 auto;
    	margin-top: 60px;
    	width: 90%;
    }

    .genSection {
    	margin: 0 auto;
    	margin-top: 50px;
    	width: 90%;
    	border: none;
    }

    .button {
    	width: 250px;
    }

    #random-code {
    	width: 250px;
    }
}