// Place all the styles related to the Code controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background-color: black;
}

h1 {
	font-size: 40px;
	color: white;
}

h2 {
	color:white;
}

#success {
	color: red;
	font-size: 14px;
	font-weight: bolder;
}

.genSection {
	display: table;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	padding-top: 30px;
	background-color: black;
	border: #bad433 2px solid; 
}

.button {
	background-color: #bad433;
	border: 2px #bad433 solid;
	color: black;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 250px;
}

.button:hover {
	color: white;
	cursor: pointer;
}

#random-code {
	border: 1px black dotted;
	display: inline-block;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 250px;
	font-weight: bolder;
	color: white;
	border: #bad433 2px solid;
}

.usedSection {
	display: table;
	margin: 0 auto;
	text-align: center;
	height: 300px;
}

.usedCodes {
	height: 100%;
	width: 480px;
	border: solid 1px black;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 1.1em
}

.usedCode {
	border-bottom: solid 2px #bad433;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
}