<!DOCTYPE html>
<html>
	<head></head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <h2> Submit Donation:</h2>
		  </div>
		</nav>

		<%= yield %>
	</body>
</html>