<!DOCTYPE html>
<html>
	<head></head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <%= button_to "Products", "/", :method => "get" %>
		  </div>
		</nav>

		<%= yield %>
	
	</body>
</html>