<div class="container-fluid">
	<div class="row myNav">		
		<div class="col-2-md" id="navItem"> 
			<a href="#top"> Home </a>
		</div>
		|
		<div class="col-2-md uber" id="navItem"> 
			<a href="#uber"> Uber </a>
		</div>
		|
		<div class="col-2-md lyft" id="navItem">
			<a href="#lyft"> Lyft </a>
		</div>
		|
		<div class="col-2-md via" id="navItem">
			<a href="#via"> Via </a>
		</div>
		|
		<div class="col-2-md gett" id="navItem">
			<a href="#gett"> Gett </a>
		</div>
		<!-- | -->
		<div class="col-2-md"> 
			 <!-- Nothing for now -->
		</div>
	</div>	
</div>		
	
<div class="landingImage" id="top">

	<div class="textOnPicture"> Welcome to Uncovered! </div>
</div>

<div class="uberImage" id="uber">

	<div class="container-fluid containerText">
		<div class="row">
			<div class="col-12-xl">
				
				<div class="uberLogo"> Uber! </div>
				<div class="uberText">
					<br><br>
					<h5> Uber codes of the month: </h5>
		
					<% @uber_promotions.each do |promotion| %>
						<br><%= promotion.code %> <br>
					<% end %>	
				</div>
			</div>
		</div>
	</div>

</div>

<div class="lyftImage" id="lyft">

	<div class="container-fluid containerText">
		<div class="row">
			<div class="col-12-xl">
				
				<div class="lyftLogo"> Lyft! </div>
				<div class="lyftText">
					<br><br>
					<h5> Lyft codes of the month: </h5>
		
					<% @lyft_promotions.each do |promotion| %>
						<br><%= promotion.code %> <br>
					<% end %>	
				</div>
			</div>
		</div>
	</div>

</div>

<div class="viaImage" id="via">

	<div class="textOnPicture"> Via! </div>
</div>

<div class="gettImage" id="gett">

	<div class="textOnPicture"> Gett! </div>
</div>