<!DOCTYPE html>
<html>
<head>
	<title>Promotions</title>
</head>
<body>

	<p class="navbar-text">Signed in as Mark Otto</p>		
	
	<div class="landingImage">

	</div>
	<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>


</body>
</html>