	<div class="container-fluid">
		<div class="row">

			<div class="col-3-md"> 
				Uber
			</div>
			|
			<div class="col-3-md">
				Lyft
			</div>
			|
			<div class="col-3-md">
				Via
			</div>
			|
			<div class="col-3-md">
				Gett
			</div>

		</div>
	</div>		
	
	<div class="landingImage">

	</div>