<div class="container-fluid">
	<div class="row myNav">
		
		<div class="col-2-md" id="home"> 
			<a href="#top"> Home </a>
		</div>
		|
		<div class="col-2-md uber"> 
			<a href="#uber"> Uber </a>
		</div>
		|
		<div class="col-2-md lyft">
			<a href="#lyft"> Lyft </a>
		</div>
		|
		<div class="col-2-md via">
			<a href="#via"> Via </a>
		</div>
		|
		<div class="col-2-md gett">
			<a href="#gett"> Gett </a>
		</div>
		|
		<div class="col-2-md"> 
			Nowhere <!-- for now -->
		</div>

	</div>	
</div>		
	
<div class="landingImage" id="top">

</div>

<div class="uberImage" id="uber">

</div>

<div class="lyftImage" id="lyft">

</div>

<div class="viaImage" id="via">

</div>

<div class="gettImage" id="gett">

</div>