<body class="user-page">
	<% if current_user == @user_page %>
		<h2> <%= @user_page.username %> </h2>
		<%= image_tag(@user_page.avatar.url(:medium), :class => "center") %>
	<% else %>
		<h2> <%= @user_page.username %> </h2>
		<%= image_tag(@user_page.avatar.url(:medium), :class => "center") %>
	<% end %>
</body>