<!-- SPECIAL PAGE ONLY ADMIN KNOWS ABOUT -->
<body class="addCode">
	
	<!-- FLASH MESSAGES -->
	<% if flash[:message] %>
		<p id="success"> <%= flash[:message] %> </p>
	<% end %>

	<!-- FORM TO ENTER A CODE MANUALLY -->
	<%= form_for @code, url: { action: :adminCreate }, method: :POST do |f| %>
		<div class="codeForm">
			<h2> Admin </h2>
			<div> <%= f.text_field :code, placeholder: "Enter Code", autocomplete: :off, class: "enterCode" %> </div>
				
			<div> <%= f.submit "Add Code To Database", class: "submitCode" %> </div>
		</div>
	<% end %>
</body>