<h2> Payment Page </h2>

<%= form_tag charges_path do %>
	<article>
		<% if flash[:error].present? %>
		
			<div id="error_explanation">
				<p> <%= flash[:error] %> </p>
			</div>

		<% end %>

		<p>As of now, options to buy an item isn't available. <br> The current charge will always be $0.50. <br> If you decide to charge your card, that amount <br> will be sent to the developer/admin. <br> Thanks if you do! Much appreciated.</p>
		
		<label class="amount">
			<span> Amount: $0.50 </span>
		</label>
	</article>

	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	data-description="Single Donation to Admin"
	data-amount="50"
	data-locale="auto">
	</script>
<% end %>



<!-- <form action="/charges/new">
	<p> Input new amount: 
		<input type="number" name="newAmount">

		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
		<input type="submit">
		(Minimum $0.50)
	</p>
</form> -->