.myNav {
	position: fixed;
	color: white;
	font-size: 15px;
	background-color: black;
}



.landingImage {
	background-image: url("locks.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.landingImage .textOnPicture {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
	position: relative;
	top:50%;
}




.uberImage {
	background-image: url("audir8.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.uberImage .textOnPicture {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
	position: relative;
	top:50%;
}



.lyftImage {
	background-image: url("lyftcar.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.lyftImage .textOnPicture {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
	position: relative;
	top:50%;
}



.viaImage {
	background-image: url("ford.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.viaImage .textOnPicture {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
	position: relative;
	top:50%;
}



.gettImage {
	background-image: url("ferrari458.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.gettImage .textOnPicture {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
	position: relative;
	top:50%;
}

