.myNav {
	position: fixed;
	color: white;
	font-size: 15px;
	background-color: black;
}

.landingImage {
	background-image: url("lyftcar.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.uberImage {
	background-image: url("lyftcar2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.lyftImage {
	background-image: url("lyftheadphones.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.viaImage {
	background-image: url("lyftcar.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.gettImage {
	background-image: url("lyftcar2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

