.myNav {
	position: fixed;
	color: white;
	font-size: 15px;
	background-color: black;
	padding-top: 10px;
	padding-right: 10px;
}

.containerText  {
	padding-top: 10vh;
	padding-bottom: 30vh;
/*	background-color: black;
*/}



.landingImage {
	background-image: url("locks.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.landingImage .textOnPicture {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
	line-height: 1.0;

}
.textOnPicture .smallTextOnLandingImage {
	font-size: 40px;
}




.uberImage {
	background-image: linear-gradient(
    	rgba(0, 0, 0, 0.5),
    	rgba(0, 0, 0, 0.5)),
		url("uber.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	/*opacity: 0.5;
	opacity: black;*/
}
.uberImage .uberLogo {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
}
.uberImage .uberText {
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: 2px 2px 20px #000000;
}
.uberImage .description {
	line-height: 1.0;
	font-size: 25px;
}



.lyftImage {
	background-image: linear-gradient(
    	rgba(0, 0, 0, 0.5),
    	rgba(0, 0, 0, 0.5)),
        url("lyft1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.lyftImage .lyftLogo {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
}
.lyftImage .lyftText {
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: 2px 2px 20px #000000;
}



.viaImage {
	background-image: linear-gradient(
    	rgba(0, 0, 0, 0.5),
    	rgba(0, 0, 0, 0.5)),
	    url("ford.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.viaImage .viaLogo {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
}
.viaImage .viaText {
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: 2px 2px 20px #000000;
}



.gettImage {
	background-image: linear-gradient(
    	rgba(0, 0, 0, 0.5),
    	rgba(0, 0, 0, 0.5)),
	    url("ferrari458.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.gettImage .gettLogo {
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 20px #000000;
}
.gettImage .gettText {
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: 2px 2px 20px #000000;
}


.modal {
	color: black;
	font-style: oblique;
	text-shadow: none;
	text-orientation: upright;
	line-height: 1.0;
}
/*.modal .btnNew {
	width: 150px;
	height: 40px;
}*/

.btnNew{
	color: white;
 	background-color: black;
 	width: 200px;
 	height: 60px;
 	border-radius: 2%;
}

div {
	line-height: 1.0;
}



